[submodule "Constants"]
	path = Constants
	url = https://github.com/FuexFollets/Constants.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "assets/english-words"]
	path = assets/english-words
	url = https://github.com/dwyl/english-words.git
[submodule "lib/eternal"]
	path = lib/eternal
	url = https://github.com/mapbox/eternal.git
[submodule "lib/annoy"]
	path = lib/annoy
	url = https://github.com/spotify/annoy.git
