[submodule "Constants"]
	path = Constants
	url = https://github.com/FuexFollets/Constants.git
[submodule "lib/eigen"]
	path = lib/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "lib/cereal"]
	path = lib/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "assets/english-words"]
	path = assets/english-words
	url = https://github.com/dwyl/english-words.git
[submodule "lib/eternal"]
	path = lib/eternal
	url = https://github.com/mapbox/eternal.git
[submodule "lib/rapidfuzz-cpp"]
	path = lib/rapidfuzz-cpp
	url = https://github.com/rapidfuzz/rapidfuzz-cpp.git
[submodule "robinmap"]
	path = lib/robin-map
	url = https://github.com/FuexFollets/robin-map.git
